<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kinesis.flutter_adm">

    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.kinesis.flutter_adm.permission.RECEIVE_ADM_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE" />


    <application>
  


        <!--  Declare your ADMMessageHandlerBase implementation as a service -->
        <service android:name=".PluginADMMessageHandler"
            android:exported="false" />

        <!--  Declare your ADMMessageHandlerJobBase implementation as a service -->
        <service android:name=".PluginADMMessageHandlerJobBase"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- You must explicitly enable ADM. You must also declare whether your application will run with or without ADM.
        If you specify android:required="false", your app must degrade gracefully when ADM is unavailable. -->
        <amazon:enable-feature android:name="com.amazon.device.messaging"
            android:required="false" />

        <receiver
            android:name=".PluginADMMessageReceiver"
            android:permission="com.amazon.device.messaging.permission.SEND">
            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
                <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>



    </application>
</manifest>
